.home-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchbar-container {
  max-width: 1200px;
}

.jobs-container {
  display: flex;
  margin-top: 75px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  max-width: 1200px;
  padding: 0px 50px 100px 50px;
}
