.search-container {
  width: 90%;
  margin-top: -40px;
  background-color: white;
  padding: 25px 20px 25px 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 25px;
}

/* GALAXY FOLD */
@media screen and (max-width: 280px) {
  .search-container {
    width: 60%;
    margin-left: 13%;
  }
}

.search {
  display: flex;
  flex-direction: row;
}

.search input {
  border: none;
  outline: none;
  box-shadow: none;
  margin-left: 10px;
  width: 100%;
}

.form-select {
  cursor: pointer;
  background-color: var(--card-color);
  color: var(--text-color);
}

#filter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#filter-btn {
  border: none;
  background: none;
  cursor: pointer;
}
